<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>lesson04</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>jornalServlet</display-name>
    <servlet-name>jornalServlet</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.JornalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jornalServlet</servlet-name>
    <url-pattern>/jornalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>bucket</display-name>
    <servlet-name>bucket</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.BucketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bucket</servlet-name>
    <url-pattern>/bucket</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>buckets</display-name>
    <servlet-name>buckets</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.BucketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buckets</servlet-name>
    <url-pattern>/buckets</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>productsServlet</display-name>
    <servlet-name>productsServlet</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productsServlet</servlet-name>
    <url-pattern>/productsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
</web-app>